*{
    margin: 0;
}


p{
    margin: 0;
    border: solid red;
}



.test {
    width:100%px;
    height: 100px;
    /* border-style: solid ; */
    border: solid violet;
    /* margin: 5px; */

    margin-top: 10px;
    margin-bottom:10px ;
    margin-left: 10px;
    margin-right:10px ;


}